.contact-img img {
    height: 500px;
}

.contact-img-text h1 {
    font-size: 40px;
    color: var(--navbar-color);
    opacity: .8;
    font-weight: normal;
    letter-spacing: 2px;
}
.lead-text {
    color: var(--main-text-color);
}
.contact .info {
    width: 100%;
}

.contact .info i {
    font-size: 20px;
    float: left;
    width: 44px;
    height: 44px;
    color: var(--navbar-color);
    background: var(--brand-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    color: var(--navbar-color);
    opacity: .8;
}

.contact .info p {
    padding: 0 0 0 60px;
    color: var(--main-text-color);
}

.contact .info .phone,
.contact .info .email,
.contact .info .address {
    margin-top: 40px;
}

.signup-form h2 {
    color: var(--main-text-color);
}

.form-group label {
    color: var(--main-text-color);
}

.contact button[type="submit"] {
    background: #f1e8da;
    border: 0;
    padding: 10px 40px;
    color: var(--navbar-color);
}

.contact button[type="submit"]:hover {
    color: var(--brand-color);
}

.btn {
    margin-bottom: 70px;
}

.carousel-caption {
    top: 50%;
}

.img-crop {
    position: relative;
}
.bg-costum {
    position: absolute;
    transform: translateY(-50%);
    background-color: rgba(255,255,255,.8);
    color: #B4897F;
    border-radius: 3px;
}

.bg-costum h1 {
    font-family: 'Catamaran', sans-serif;
    font-size: 100px;
    font-style: italic;
    font-weight: 200;
}

.bg-costum h2 {
    font-size: 50px;
    font-style: italic;
    font-family: var(--second-font);
}

.bg-costum p {
    font-size: 30px;
    letter-spacing: 1px;
    font-family: var(--second-font);
}

.contact-bottom-text h4 {
    color: var(--navbar-color);
    opacity: .8;
}
