.contact-img img {
    object-fit: cover;
}

.contact-header-text h1 {
    color: var(--main-text-color);
}

.contact-header-text p {
    color: var(--main-text-color);
    padding-top: 20px;
}
.lead-text {
    color: var(--main-text-color);
}
.contact .info {
    width: 100%;
}

.contact .info i {
    font-size: 20px;
    float: left;
    width: 45px;
    height: 45px;
    color: var(--navbar-color);
    background: var(--brand-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    color: var(--main-text-color);
}

.contact .info p {
    padding: 0 0 0 60px;
    color: var(--main-text-color);
}

.contact .info .phone,
.contact .info .email,
.contact .info .address {
    margin-top: 40px;
}

.signup-form h2 {
    color: var(--main-text-color);
}

.form-group label {
    color: var(--main-text-color);
}

.contact button[type="submit"] {
    background: #f1e8da;
    border: 0;
    padding: 10px 40px;
    color: var(--navbar-color);
}

.contact button[type="submit"]:hover {
    color: var(--brand-color);
}

.btn {
    margin-bottom: 70px;
}

.contact-bottom-text h4 {
    color: var(--main-text-color);
}
