
#fixed2 {
    background-image: url("https://images.unsplash.com/photo-1521543269800-27e08780ced7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    position: fixed;
}
#fixed-background2 {
    padding: 10rem 0 !important;
}

.post-heading {
    background: white;
}

.post-content h1 {
    color: var(--brand-color);
}

.post-content p {
    color: var(--main-text-color);
    line-height: 30px;
}

.services-engaded-text h1 {
    font-family: var(--second-font);
    font-size: 60px;
    color: var(--brand-color);
}

.services-engaded-text span {
    font-family: 'Playfair Display', serif;
    padding-left: 60px;
    font-size: 20px;
    color: var(--navbar-color);
    opacity: .8;
}

.services-engaded-text p {
    color: var(--navbar-color);
    opacity: .8;
    line-height: 30px;
}

.basic-plan-text li {
    list-style: none;
}

.basic-plan-text i {
    color: var(--brand-color);
    font-size: 20px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.services-icon-list-item p {
    padding-left: 30px;
}
ul > li {
    color: var(--navbar-color);
    
}

.services-widget-title h1 {
    font-size: 40px;
    color: var(--main-text-color);
    letter-spacing: 2px;
}

.services-widget-title h2 {
    color: var(--brand-color);
    font-family: var(--second-font);
    font-size: 50px;
    letter-spacing: 1px;
    
}

.services-widget-text p {
    padding: 5px 0;
    color: var(--main-text-color);
}

#fixed3 {
    background-image: url("../img/services/services03.jpg");
    position: fixed;
}
#fixed-background3 {
    padding: 15rem 0;
}

.service-pack-header-text h1 {
    font-size: 40px;
    text-transform: uppercase;
    color: var(--main-text-color);  
}

.service-pack-header-text h2 {
    color: var(--brand-color);
    font-family: var(--second-font);
    font-size: 50px;
    letter-spacing: 1px;
}

.service-pack-text p {
    padding: 20px 0;
    color: var(--main-text-color);
}

#fixed4 {
    background-image: url("../img/services/services07.jpg");
    position: fixed;
}
#fixed-background4 {
    padding: 15rem 0;
}

.quot-container-header p {
    color: var(--navbar-color);
    opacity: .8;
    line-height: 30px;
}

.quot-container-header h1 {
    color: var(--brand-color);
    font-size: 30px;
}

.quote-container-text p {
    color: var(--main-text-color);
}

.quote-container-text p a { 
    color: var(--brand-color);
}

.quote-container-text p a:hover {
    color: black;
}

.carousel-container {
    background: #F0E6E0;
}

.carousel-container h1 {
    color: white;
    font-size: 60px;
}

.carousel-item .col, .col-sm, .col-md {
       margin: 18px;
       height: 300px;
       background-size: cover;
       background-position: center center;
    
 }

.service-trend-header-text h1 {
    font-size: 40px;
    text-transform: uppercase;
    color: var(--navbar-color);
    opacity: .8;   
 }

.service-trend-header-text h2 {
    font-size: 40px;
    text-transform: uppercase;
    color: var(--navbar-color);
    opacity: .8;   
}

.service-trend-header-text h3 {
    color: var(--brand-color);
    font-family: var(--second-font);
    font-size: 50px;
    letter-spacing: 1px;
}

.service-trend-text p {
    padding: 20px 0;
    color: var(--main-text-color);
}
.testimonial-header-text h1 {
    color: var(--brand-color);
    font-size: 20px;
    padding-left: 80px;
 }
.testimonial-text span {
     font-size: 50px;
     color: var(--main-text-color);
     padding: 0;
     margin: 0;
 }

 .testimonial-text h2 {
     color: var(--main-text-color);
     line-height: 40px;
     font-style: italic;
 }

 .testimonial-text p {
     color: var(--main-text-color);
     padding-top: 30px;
 }

 .testimonial-text p:last-child {
     font-family: var(--second-font);
     color: var(--brand-color);
     font-size: 30px;
     padding: 0;

 }

 .img1 {
    position: absolute;
    left: 300px;
    z-index: 1000;
    border: 7px solid var(--bg-color);
 }

 .img2 {
    position: relative;
    left: 60px;
    top: 40px;
 }

.img3 {
    z-index: 500;
    position: absolute;
    border: 7px solid var(--bg-color);
    left: 30px;
    bottom: 20px;
 }

 .service-signature-text h1 {
     font-size: 20px;
     color: var(--main-text-color);
     padding-top: 30px;
 }

 .service-signature-text h2 {
     color: var(--brand-color);
     padding-top: 20px;
 }

 .service-signature-text p {
     color: var(--main-text-color);
     padding-top: 20px;
 }

 .contact-info-text h1 {
     color: var(--brand-color);
     letter-spacing: 2px;
     padding-top: 20px;
 }

 .contact-info-text h2 {
     color: var(--main-text-color);
     font-size: 15px;
     letter-spacing: 1px;
     padding-top: 20px;
     line-height: 20px;
 }

 .contact-info-text p {
     color: var(--main-text-color);
     padding: 10px 0;
 }


/*-- Fixed Background Image Header--*/
#fixed-background2 {
    position: relative;
    width: 100%;
    z-index: 1000 !important;
  }
  #fixed-wrap2 {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999 !important;
  }
  #fixed2 {
    z-index: -999 !important;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
  }

  #fixed2:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;  
  }

/*-- Fixed Background Image 2nd img--*/
#fixed-background3 {
    position: relative;
    width: 100%;
    z-index: 1000 !important;
  }
  #fixed-wrap3 {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999 !important;
  }
  #fixed3 {
    z-index: -999 !important;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
  }

  #fixed3:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;  
  }  

/*-- Fixed Background Image 3nd img--*/
#fixed-background4 {
    position: relative;
    width: 100%;
    z-index: 1000 !important;
  }
  #fixed-wrap4 {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999 !important;
  }
  #fixed4 {
    z-index: -999 !important;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
  }

  #fixed4:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;  
  }
  
  /*=====Bootstrap Mobile Gutter Fix======*/
  .row,
  .container-fluid {
      width: 100%;
      margin-left: 0px !important;
      margin-right: 0px !important;
  }