
.main-text {
    font-family: 'Playfair Display', serif;
    color: var(--main-text-color);
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 2rem;
  }

  .hero-img-content {
    color: var(--main-text-color);
  }

  .hero p {
    color: var(--main-text-color);
  }